@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.out{
  display:flex;
  flex-direction:column;
}
nav{
    height: 50px;
    width: 100%;
}
nav{
  display:flex;
  flex-direction:row;
}
nav{
  background: #0082e6;
}
nav ul{
    float: right;
    margin-right: 4px;
}
nav ul li{
    display: inline-flex;
  flex-direction:row;
}
nav ul li{
    line-height: 16px;
    margin: 12px 3px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 4px 13px;
    border-radius: 2px;
    text-transform: uppercase;
  text-decoration:none;
}  
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
} 
.container{
  width: 50%;
  justify-content: center;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  align-content: center;
  margin-top: 90px;
  margin-left: 365px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
form .category{
   display: flex;
  flex-direction:row;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
form .category label{
   display: flex;
  flex-direction:row;
   align-items: center;
   cursor: pointer;
 }
form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 
h3{
    border-color: black;
}


.footer{
    color: white;
    display: flex;
  flex-direction:row;
    padding: 10px 10px;
 }
.footer{
  background-color: #211c1c;}
  
.sir{
    padding: 3px 3px;
    margin-left: 100px;
 }
.students{
    padding:3px 3px;
    margin-left: 300px;
 }
.about{
  padding:3px 3px;
  margin-left: 400px;
}
 
