<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Major Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="new.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   
  </head>
  <body>
    
    <div class="navi" id="navi">
    <nav>
      <input type="checkbox" id="check">
      
      
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      
      
      <label class="logo">Major Project</label>
      
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="theory.html">Theory</a></li>
        <li><a href="linear.html">Linear Regression</a></li>
        <li><a href="new.html">SVR</a></li>
        <li><a href="neural.html">Neural Network</a></li>
      </ul>
      
    </nav>
    <div class="form" id="form" >
    <div class="container">
        <div class="title">Prediction</div>
        <div class="content">
          <form action="{{ url_for('predict')}}" method="post">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Feed Value</span>
                <input type="number" name="Feed" placeholder="Enter Feed Value" step="0.0000001" required>
              </div>
              <div class="input-box">
                <span class="details">Speed</span>
                <input type="number" name="Speed" placeholder="Enter Speed Value" step="0.0000001" required>
              </div>
              <div class="input-box">
                <span class="details">Doc</span>
                <input type="number" name="Doc" placeholder="Enter Doc Value" step="0.0000001" required>
              </div>
              <div class="input-box">
                <span class="details">Woc</span>
                <input type="number" name="Woc" placeholder="Enter Woc" step="0.0000001" required>
              </div>
              <div class="input-box">
                <span class="details">Dir</span>
                <input type="number" name="Dir" placeholder="Enter Dir " step="0.0000001" required>
              </div>
              <div class="input-box">
                <span class="details">Coolant</span>
                <input type="number" name="Coolant" placeholder="Enter Coolant Value" step="0.0000001" required>
              </div>
            </div>
           
            <div class="button">
              <input type="submit" value="Submit">
            </div>
          </form>
          <br><br><h3>{{ prediction_text }}</h3>
        </div>
      </div>
    </div>
    <footer style="margin: 0;padding: 0;box-sizing: border-box;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <div class="main">
        <div class="left box">
            <h4>Major Project</h4>
            <div class="footl">
                <h5>Predicting the roughness value</h5>
            </div>
        </div>
        <div class="center box">
            <ul>
                <li>Guide</li>
                <li>P.S SUVIN</li>
                <li>Assistant Professor</li>
                <li>National Institute Of Technology</li>
            </ul>
        </div>
        <div class="right box">
           
            <ul>
                <li>Students</li>
                <li>Naveen </li>
                <li>Gagan</li>
            </ul>

        </div>
    </div>


  </footer>
  </body>
</html>
